@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import './shared/styles/item-list.css';
@import './shared/styles/item.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: whitesmoke;
  font-family: "Roboto Slab", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 15px;
}

body {
  padding-top: 82px;
  margin: auto;
}

.logo-8848-logo {
  max-width: 200px;
}

@media screen and (max-width:768px) {
  .container {
    padding: 0;
  }
}
